* {
    margin: 0 auto;
    border: none;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: lato, sans-serif;
    background-color: white;
}
 #quiz-container {
    background-color: #783937FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100%;
    background-color: pink;
    
}

#landmark-container {
    margin-bottom: auto;
    flex-wrap: wrap;
    width: 80%;
    height: 300px;
    margin: 10px 0;
    background-color: red;
}

.landmark-pics {

}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.option-button {
    padding: 10px 20px;
    background-color: lime;
    border: none;
    cursor: pointer;
}

#next-retry-buttons {
    background-color: brown;
}

.score-keeper {
    background-color: green;
}