* {
    margin: 0 auto;
    border: none;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: lato, sans-serif;
}
 #quiz-container {
    background-color: yellow;
 }

#options-container {
    background-color: aliceblue;
}

#next-retry-buttons {
    background-color: brown;
}

.score-keeper {
    background-color: green;
}