* {
    margin: 0 auto;
    border: none;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: lato, sans-serif;
    background-color: white;
}
/* Home Page Start */
.nav-bar-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
}

h2 {
    font-size: 48px;
    margin-bottom: 30px;
}

.buttons-container-home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}

.option-button-quiz {
    padding: 10px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
}
/* Home Page End */

/* Quiz Page Start */
 #quiz-container {
    background-color: #c82cc8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 80%;
    max-width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 }

.nav-quiz{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: 100%;
    background-color: #c82cc8;
    margin: 10px;
    cursor: pointer;
}

#landmark-container {
    margin-bottom: auto;
    flex-wrap: wrap;
    width: 80%;
    height: 300px;
    margin: 10px 0;
    background-color: red;
}

.landmark-pics {

}

.buttons-container-quiz {
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}

.option-button-quiz {
    padding: 10px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.next-score-retry {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#retry-btn {
    padding: 10px 20px;
    background-color: cyan;
    border: none;
    cursor: pointer;
    margin: 10px;
}

#next-btn {
    padding: 10px 20px;
    background-color: cyan;
    border: none;
    cursor: pointer;
    margin: 10px;
}
.score {
    color: white;
    font-size: large;
}

@media (max-width: 768px){
    #quiz-container {
        height: auto;
        padding: 20px;
    }

    

    #landmark-container {
        width: 100%;
    }

    .buttons-container-quiz {
        flex-direction: column;
        align-items: center;
    }

    .option-button-quiz {
        margin-bottom: 10px;
    }
}

/* Quiz Page End */